.index {
    font-family: sans-serif;
    background-color: #cfdbea;
    margin-top: 0;
}

#main-text{
    height:auto;
    width:auto;
   text-shadow: 5px 5px 10px #867676;
   color: #43435a;
   padding: 3px 3px 3px 7px;
}
#theNavigationBar {
    padding:0;
    margin:0;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
     box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
     opacity: 0.70;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #130323;
}
.navBarOption_site_name {
  font-weight: lighter;
  font-size: 30px;
  float: left;
  padding:20px;
  color:#e3e3ec;
}
.navBarOptions {
  float: right;
  padding:20px;
}

.container{
    max-width: 800px;
    margin:0 auto;
    color:#4d4752;
    font-family:sans-serif;
    padding: 60px;
}

#nameList{
    text-align:left;
    display:inline-block;
}
.center {
    text-align: center;
    color: #3a3a4c;
}

.text-big {
    font-size: 300%;
    height:100px;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    max-height:40vh;
    max-width:80vw;
}

.h3{
    color: #dbeae9;
    text-align: center;
    font-family: -webkit-pictograph;
    font-weight: 500
}

#heading{
    font-size: 50px;
    color: red;
    text-align: center;
}

