body .index {
    font-family: sans-serif;
    background-color: #051120;
    margin-top: 75px;
}

#main-text{
   text-shadow: 5px 5px 10px #715959;
    padding: 3px 3px 3px 7px;
}

.container{
    text-align:center;
}

.center {
    text-align: center;
    color: #cbcbdc;
}

.text-big {
    font-size: 300%;
    height:100px;
}

.bold {
    font-weight: bolder;
}

.img-medium {
    height: 350px;
    width: 500px;
}

h3{
    color: #dbeae9;
    text-align: center;
    font-family: -webkit-pictograph;
    font-weight: 500
}

#heading{
    font-size: 50px;
    color: red;
    text-align: center;
}

